{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}">
{% endblock head %}
{% block title %}
Jogo Da Forca
{% endblock title %}
{% block content %}
<div class="flex">
    <div class="box box-morte">
        <figure class="mensagem-fala">
            <figcaption>{{mensagem_feedback}}</figcaption>
        </figure>
        <img src="{{url_for('static', filename='imagens/Morte.png')}}" alt="A morte em pessoa" class="donamorte">
    </div>
    <div class="box">
        <div class="game-box">
            <span class="palavra">
                {% for letra in jogo.palavra_secreta.palavra_escondida %}
                    {{letra}}
                {% endfor %}
            </span>
            <form class="form-chute" action="{{url_for('jogar')}}" method="POST">
                <input type="text" placeholder="Digite uma letra" name="letra" maxlength="1">
                <button type="submit">Chutar</button>
            </form>
            <p class="chutes">Chutes: {% for letra in jogo.historico_chutes %}
                {{letra}}
            {% endfor %}</p>
            <p class="vidas">Vidas Restantes: <span class="qtd-vidas">{{jogo.chances}}</span></p>
            <a href="{{url_for('novo_jogo')}}">Novo Jogo</a>
        </div>
    </div>
</div>
<script>
    var balao_fala = document.getElementsByClassName('mensagem-fala')[0]
    var mensagem = balao_fala.getElementsByTagName('figcaption')[0]
    if(mensagem.textContent.length == 0)
        balao_fala.style.display = 'none'
</script>
{% endblock content %}